services:
  gv-web:
    build:
      context: .
      args:
        - VITE_API_URL=${VITE_API_URL}
        - WEB_URL=${WEB_URL}
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
