@reference "./app.css";

.habit-list {
    @apply grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-3 mt-6;
}

.habit-card {
    @apply flex flex-col items-center justify-center p-4 border border-text-muted/20 rounded-lg bg-bg-light;

    & > .habit-title {
        @apply text-xl font-semibold text-center;
    }

    & > .habit-value {
        @apply text-3xl font-bold mt-2;
    }
}
